<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frete4U | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/style")
    @Scripts.Render("~/bundles/modernizr")    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Frete4ULogo", "Index", "Home", new { area = "" }, new { @class = "logo" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Como funciona", "About", "Home")</li>
                    <li>@Html.ActionLink("Buscar", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footerprincipal">
            <a href="" class="btn btn-link" data-toggle="modal" data-target="#termosDeUso_Modal">Termos de Uso</a>            
            <a href="#" class="btn btn-link">Privacidade</a>
            <p class="btn btn-link">@Html.ActionLink("Sobre o grupo", "SobreGrupo", "Home")</p>
            <p class="btn btn-link">@Html.ActionLink("Documentação", "Documentacao", "Home")</p>
            <p>Centro Universitário Una - Barreiro | Análise e Desenvolvimento de Sistemas | 1/2015</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
